* {
    margin: 0;
    padding: 0;
}

@media  screen and (max-width: 480px) {

  video {
    display: none;
  }

  .background-header {
    height: 300px;
    width: 100%;
  }
  .photo-header {
    position: relative;
  }
  .title-name {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: pink;
    opacity: 0.4;
    font-size: 80px;
  }
  .cover-ep {
    height: 250px;
    width: 250px;
    border-radius: 5px;
  }
  .first-ep {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 70px;
  }
  .title-first-ep {

    margin-bottom: 30px;
  }
  .button-box {
    margin-top: 20px;
  }
  .click-button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
  }
    
}
@media screen and (min-width: 769px) {

    
   
}