* {
    margin: 0;
    padding: 0;
}

@media  screen and (max-width: 768px) {

  .background-header {
    height: 300px;
    width: 100%;
  }
  .photo-header {
    position: relative;
  }
  .title-name {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: pink;
    opacity: 0.4;
    font-size: 80px;
  }
  #title {
    position: absolute;
    left: -100px;
    animation: apparition 1s ease-in-out forwards;
  }
  @keyframes apparition {
    0% {
      left: -100px;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
  .cover-ep {
    height: 250px;
    width: 250px;
    border-radius: 5px;
  }
  .first-ep {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 70px;
  }
  .title-first-ep {

    margin-bottom: 30px;
  }
  .button-box {
    margin-top: 20px;
  }
  .click-button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
  }
 
 
.socials {
    display: inline-block;
}
.socials-box {
    text-align: center;
    margin-top: 10px;
}




}
@media screen and (min-width: 769px) {

.socials {
    display: inline-block;
}
.socials-box {
  text-align: center;
  margin-top: 10px;
}
.background-header {
 height: 650px;
 width: 100%;
}
.photo-header {
  position: relative;
}

.title-name {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: pink;
  opacity: 0.4;
  font-size: 80px;
}

.text-title {
  
  animation-name: couleur;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes couleur{
  from{
      color: black;
  }
  to{
      color: pink;
  }
}
.first-ep {
  text-align: center;
  margin-top: 30px;
}
.cover-ep {
  height: 300px;
  width: 300px;
  margin-top: 30px;
  border-radius: 5px;
}

.button-box {
  margin-top: 30px;
}
.click-button {
  height: 40px;
  width: 150px;
  border-radius: 15px;
  border: none;
}
#my-button {
  color: gray;
}








   
}